* {
    font-family: 'Crimson Text', serif;
}

h1 {
    font-size: 72px
}

test {
    border: 1px solid red;
}

body {
    background-color: #FFF1E0;
}

.portfolio {
    background-color: #FFF9F5;
}

#render {
    width: 750px;
    height: 425px;
    /* border: 1px solid black; */
}